/* Styles for Rock, Paper, Scissors
By Samantha Tjong */


html {
    background: 
        repeating-linear-gradient(0deg,rgb(210, 210, 210),rgb(210, 210, 210) 2px,rgb(235, 235, 235) 0,rgb(235, 235, 235) 4px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'silkscreen_expandednormal', Courier, monospace;
    font-size: 2.5vw;
    text-align: center;
    color:rgb(135, 125, 120);
    max-height: 100%;
    overflow: hidden;
}

h1 {
    font-family: 'silkscreen_expandedbold', Courier, monospace;
    font-size: 2rem;
}

h3 {
    font-family: 'silkscreen_expandednormal', Courier, monospace;
    font-size: 1rem;
}

a {
    border: none;
    font-size: 0;
}

img {
    width: 12vw;
}

.title {
    margin: 0.5em 0 0.5em 0;
}

/* Div styles */
.main-container {
    display: grid;
    grid-template-columns: repeat(1, [col] auto);
    grid-template-rows: repeat(3, [row] auto);
    justify-content: stretch;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

.top {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.mid {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.bottom {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.top-image-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    transform: scaleY(-1);
}

.bottom-image-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.middle-wrapper {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Button styles */
.btn {
    border: none;
    background: none;
    cursor: pointer;
}

    .btn.playerBtn {
        padding: 0 2vw 0 2vw;
    }

        .btn.playerBtn.off {
            transform: translateY(30%);
            filter: grayscale(80%);
        }

        .btn.playerBtn.on {
            transform: translateY(15%) scale(1.1);
            filter: grayscale(20%);
        }

        .btn.playerBtn:hover {
            transform: translateY(15%) scale(1.1);
        }

        .btn.playerBtn:active {
            transform: translateY(15%) scale(1.3);
            filter: grayscale(20%);
        }

    .btn.computerBtn {
        padding: 0 2vw 0 2vw;
        pointer-events: none; 
        cursor: default; 
    }

        .btn.computerBtn.off {
            transform: translateY(30%);
            filter: grayscale(80%);
        }

        .btn.computerBtn.on {
            transform: translateY(15%) scale(1.1);
            filter: grayscale(20%);
        }

/* Footer styles */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  font-size: 0.5rem;
  color: white;
  text-align: right;

}

/* Results modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: none; /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

.modal-content {
    background: repeating-linear-gradient(0deg, rgb(135, 125, 120), rgb(135, 125, 120) 2px,rgb(155, 145, 140) 0,rgb(155, 145, 140) 4px);
    color: rgb(235, 235, 235);
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#try-again {
    font-family: 'silkscreen_expandednormal', Courier, monospace;
    font-size: 0.5rem;
    color: rgb(235, 235, 235);
    background: repeating-linear-gradient(0deg, rgb(135, 125, 120), rgb(135, 125, 120) 2px,rgb(155, 145, 140) 0,rgb(155, 145, 140) 4px);
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border: 2px solid rgb(235, 235, 235);
}

#try-again:hover {
    background: rgb(235, 235, 235);
    color: rgb(135, 125, 120);
}


@media (max-width: 600px) {
    html {
        font-size: 4vw;
    }
    span {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 3rem;
        padding: 20px 0 20px 0;
    }
    h3 {
        font-size: 2rem;
    }
    img {
        width: 20vw;
    }
    .modal-content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #try-again {
        margin-top: 20px;
        font-size: 1rem;
    }
    .footer {
        font-size: 0.5rem;
    }

    /* Buttons */
    .btn.playerBtn.off {
        transform: translateY(10%);
        filter: grayscale(80%);
    }

    .btn.playerBtn.on {
        transform: translateY(5%) scale(1.1);
        filter: grayscale(20%);
    }

    .btn.playerBtn:hover {
        transform: translateY(5%) scale(1.1);
    }

    .btn.playerBtn:active {
        transform: translateY(5%) scale(1.3);
        filter: grayscale(20%);
    }

    .btn.computerBtn.off {
        transform: translateY(10%);
        filter: grayscale(80%);
    }

    .btn.computerBtn.on {
        transform: translateY(5%) scale(1.1);
        filter: grayscale(20%);
    }
}

@media (max-width: 768px) {
    html {
        font-size: 4vw;
    }
    img {
        width: 20vw;
    }
    .modal-content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #try-again {
        margin-top: 20px;
    }
    .footer {
        font-size: 0.5rem;
    }
    
    /* Buttons */
    .btn.playerBtn.off {
        transform: translateY(10%);
        filter: grayscale(80%);
    }

    .btn.playerBtn.on {
        transform: translateY(5%) scale(1.1);
        filter: grayscale(20%);
    }

    .btn.playerBtn:hover {
        transform: translateY(5%) scale(1.1);
    }

    .btn.playerBtn:active {
        transform: translateY(5%) scale(1.3);
        filter: grayscale(20%);
    }

    .btn.computerBtn.off {
        transform: translateY(10%);
        filter: grayscale(80%);
    }

    .btn.computerBtn.on {
        transform: translateY(5%) scale(1.1);
        filter: grayscale(20%);
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 4vw;
    }
    img {
        width: 20vw;
    }
    .modal-content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #try-again {
        margin-top: 30px;
    }
    .footer {
        font-size: 0.2rem;
    }

    /* Buttons */
    .btn.playerBtn.off {
        transform: translateY(10%);
        filter: grayscale(80%);
    }

    .btn.playerBtn.on {
        transform: translateY(5%) scale(1.1);
        filter: grayscale(20%);
    }

    .btn.playerBtn:hover {
        transform: translateY(5%) scale(1.1);
    }

    .btn.playerBtn:active {
        transform: translateY(5%) scale(1.3);
        filter: grayscale(20%);
    }

    .btn.computerBtn.off {
        transform: translateY(10%);
        filter: grayscale(80%);
    }

    .btn.computerBtn.on {
        transform: translateY(5%) scale(1.1);
        filter: grayscale(20%);
    }
}