html {
    background: 
        repeating-linear-gradient(0deg,rgb(210, 210, 210),rgb(210, 210, 210) 2px,rgb(235, 235, 235) 0,rgb(235, 235, 235) 4px);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    font-family: 'silkscreen_expandednormal', Courier, monospace;
    font-size: 2rem;
    text-align: center;
    color:rgb(135, 125, 120)
}

h1 {
    font-family: 'silkscreen_expandedbold', Courier, monospace;
    font-size: 2rem;
}

#try-again {
    font-family: 'silkscreen_expandednormal', Courier, monospace;
    font-size: 0.5rem;
    color: rgb(235, 235, 235);
    background: rgb(135, 125, 120);
    margin: 0 0 5% 80%;
    padding: 10px 10px 10px 10px;
    border: 3px solid rgb(235, 235, 235);
    text-align: right;
}

.title {
    margin: 20px 0 20px 0;
}

.top-image-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
}

.bottom-image-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.middle-wrapper {
    display: block;
    height: 100%;
    top: 50%;
}

.btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

a {
    border: none;
    font-size: 0;
}

img {
    width: 12vw;
}

.btn.playerBtn {
    padding: 0 2vw 0 2vw;
}

.btn.playerBtn.off {
    transform: translateY(30%);
    filter: grayscale(80%);
}

.btn.playerBtn.on {
    transform: translateY(5%) scale(1.1);
    filter: grayscale(20%);
}

.btn.playerBtn:hover {
    transform: translateY(5%) scale(1.1);
}

.btn.playerBtn:active {
    transform: translateY(5%) scale(1.3);
    filter: grayscale(20%);
}

.btn.computerBtn {
    padding: 0 2vw 0 2vw;
    pointer-events: none; 
    cursor: default; 
}

.btn.computerBtn.off {
    transform: scaleY(-1) translateY(30%);
    filter: grayscale(80%);
}

.btn.computerBtn.on {
    transform: scaleY(-1) translateY(5%) scale(1.1);
    filter: grayscale(20%);
}

/* .btn.computerBtn:active {
    transform: scaleY(-1) translateY(5%) scale(1.3);
    filter: grayscale(20%);
} */

@keyframes activate-player {
    0% {transform: translateY(5%) scale(1.3); filter: grayscale(20%);}
    99% {transform: translateY(5%) scale(1.3); filter: grayscale(20%);}
    100% {transform: translateY(30%) scale(1); filter: grayscale(80%);}
}

.active-player {
    animation-name: activate-player;
    animation-duration: 2s;
}

@keyframes activate-computer {
    0% {transform: scaleY(-1) translateY(5%) scale(1.3); filter: grayscale(20%);}
    99% {transform: scaleY(-1) translateY(5%) scale(1.3); filter: grayscale(20%);}
    100% {transform: scaleY(-1) translateY(30%) scale(1); filter: grayscale(80%);}
}

.active-computer {
    transform: scaleY(-1) translateY(5%) scale(1.3);
    filter: grayscale(20%);
}

.main-container {
    display: grid;
    grid-template-columns: repeat(1, [col] auto);
    grid-template-rows: repeat(3, [row] auto);
    justify-content: stretch;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

.top {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.mid-top {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.bottom {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  font-size: 0.5rem;
  color: white;
  text-align: right;

}